<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="dependencyVersion" value="Highest" />
		<add key="globalPackagesFolder" value="c:\nuget_packages" />
		<add key="repositoryPath" value="c:\installed_nuget_packages" />
	</config>
	<packageRestore>
		<add key="enabled" value="true" />
		<add key="automatic" value="true" />
	</packageRestore>
	<packageSources>
		<add key="Local" value="c:\nuget_packages" />
        <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="reblGreen" value="https://nuget.reblgreen.com/api/v1/" protocolVersion="1" />
    </packageSources>
	<packageSourceCredentials>
		<reblGreen>
			<add key="Username" value="user" />
			<add key="ClearTextPassword" value="tKQLWy2Q5ZtmJdN81FSBfLjnmPp3JJTU" />
		</reblGreen>
	</packageSourceCredentials>
</configuration>
